/* === Hlavní pozadí přes celou obrazovku === */

html, body {
  font-family: "Inter";
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.background-image {
  background-color: black;
  min-height: 100vh;
  background-image: url("/public/tiskarmy.png");
  background-position: center;
  background-size: cover;
  background-attachment: scroll; /* kvůli mobilům */
}

.banner {
  width: 100%;
  padding: 10px 10px;
  background-color: rgba(112, 0, 0, 0.85);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* zalomení na malých displejích */
  box-sizing: border-box;
}

/* Profilovka vlevo */
.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* Ikony vpravo */
.icons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

/* Placeholder pro ikony (jen pro ukázku) */
.icon-placeholder {
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 8px;
}

.content {
  color: white;
  text-align: center;
}

h1 {
  margin: 15px;
  font-size: 36px;
  margin-bottom: 5px;
}

h2 {
  margin: 10px;
  font-size: 30px; 
  font-weight: bold;
}

.card {
  background-color:rgba(112, 0, 0, 0.85);
  margin: 31px;
  border-radius: 15px;
  text-align: left;
} 

.card h3 {
  font-size: 24px ;
  margin: 0;
  padding: 10px;
  text-align: center;
  color: #ffffff;
}

.card p {
  margin: 0;
  padding: 20px;
  font-size: 16px;
}

.footer {
  background-color: rgba(112, 0, 0, 0.85);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
