/* === Hlavní pozadí přes celou obrazovku === */
html, body {
  margin: 0;
  padding: 0;
}

.background-image {
  background-color: black;
  min-height: 100vh;
  background-image: url("/public/tiskarmy.png");
  background-position: center;
  background-size: cover;
  background-attachment: scroll; /* kvůli mobilům */
}

.banner {
  width: 100%;
  padding: 10px 10px;
  background-color: rgba(112, 0, 0, 0.85);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* zalomení na malých displejích */
  box-sizing: border-box;
}

/* Profilovka vlevo */
.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* Ikony vpravo */
.icons {
  display: flex;
  gap: 23px;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

/* Placeholder pro ikony (jen pro ukázku) */
.icon-placeholder {
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 8px;
}
